<launch>

    <!--############### Node Configurations ##################-->
    <arg name="output" default="screen"/>
    <arg name="node_name" default="sync"/>
    <arg name="sync_rate" default="40"/>

    <!--############### IMU Configurations ###################-->
    <!-- Connection -->
    <arg name="port" default="/dev/ttyUSB0" />

    <!-- Frame ID for messages -->
    <arg name="imu_frame_id" default="imu"/>

    <!-- Baudrate of serial comms (see manual for allowed values) -->
    <arg name="baudrate" default="921600"/>

    <!-- Data rate in Hz -->
    <arg name="imu_rate" default="200"/>

    <!-- Sync out settings -->
    <arg name="enable_sync_out" default = "true"/>
    <arg name="sync_out_rate" default = "$(arg sync_rate)"/>
    <!-- The unit of pulse width is nano sec(ns) -->
    <arg name="sync_out_pulse_width" default = "10000"/>

    <!-- Ros Topic settings -->
    <arg name="enable_magnetic_field" default="true"/>
    <arg name="enable_pressure" default="true"/>
    <arg name="enable_temperature" default="true"/>

    <!--############### Camera Configurations ###################-->
    <!-- Common Interface -->
    <arg name="frame_rate" default="$(arg sync_rate)"/>

    <!-- Camera Settings -->
    <arg name="left" default="25000855"/>
    <arg name="right" default="25001321"/>
    <arg name="left_camera_name" default="mv_$(arg left)"/>
    <arg name="right_camera_name" default="mv_$(arg right)"/>
    <arg name="left_calib_url"
        default="file://${ROS_HOME}/camera_info/$(arg left_camera_name).yaml"/>
    <arg name="right_calib_url"
        default="file://${ROS_HOME}/camera_info/$(arg right_camera_name).yaml"/>

    <arg name="camera" default="stereo"/>
    <arg name="stereo_frame_id" default="camera"/>
    <arg name="fps" default="$(arg frame_rate)"/>
    <arg name="color" default="false"/>
    <arg name="aec" default="0"/>
    <arg name="cbm" default="false"/>
    <arg name="ctm" default="1"/>
    <arg name="dcfm" default="0"/>
    <arg name="hdr" default="false"/>
    <arg name="wbp" default="-1"/>
    <arg name="expose_us" default="5000"/>
    <arg name="gain_db" default="0.0"/>
    <arg name="boost" default="false"/>

    <!--############### Sync Node ###################-->
    <node pkg="cam_imu_sync" type="cam_imu_sync_node" name="$(arg node_name)" output="$(arg output)">

        <param name="port" type="string" value="$(arg port)" />
        <param name="baudrate" type="int" value="$(arg baudrate)" />
        <param name="frame_id" type="string" value="$(arg imu_frame_id)"/>
        <param name="imu_rate" type="int" value="$(arg imu_rate)" />
        <param name="enable_magnetic_field" type="bool" value="$(arg enable_magnetic_field)" />
        <param name="enable_pressure" type="bool" value="$(arg enable_pressure)" />
        <param name="enable_temperature" type="bool" value="$(arg enable_temperature)" />
        <param name="enable_sync_out" type="bool" value="$(arg enable_sync_out)" />
        <param name="sync_out_rate" type="int" value="$(arg sync_out_rate)" />
        <param name="sync_out_pulse_width" type="int" value="$(arg sync_out_pulse_width)" />

        <param name="left/camera_name" type="string" value="$(arg left_camera_name)"/>
        <param name="left/identifier" type="string" value="$(arg left)"/>
        <param name="left/calib_url" type="string" value="$(arg left_calib_url)"/>

        <param name="right/camera_name" type="string" value="$(arg right_camera_name)"/>
        <param name="right/identifier" type="string" value="$(arg right)"/>
        <param name="right/calib_url" type="string" value="$(arg right_calib_url)"/>

        <param name="frame_id" type="string" value="$(arg stereo_frame_id)"/>
        <param name="fps" type="double" value="$(arg fps)"/>
        <param name="color" type="bool" value="$(arg color)"/>
        <param name="aec" type="int" value="$(arg aec)"/>
        <param name="cbm" type="bool" value="$(arg cbm)"/>
        <param name="ctm" type="int" value="$(arg ctm)"/>
        <param name="dcfm" type="int" value="$(arg dcfm)"/>
        <param name="hdr" type="bool" value="$(arg hdr)"/>
        <param name="wbp" type="int" value="$(arg wbp)"/>
        <param name="expose_us" type="int" value="$(arg expose_us)"/>
        <param name="gain_db" type="double" value="$(arg gain_db)"/>
        <param name="boost" type="bool" value="$(arg boost)"/>
    </node>

</launch>
